# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SourceCodes\INFO6205\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
